{% extends "welsh/base.html" %}
 
{% block content %}
	<!-- Insert body code here-->
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<br><h5>Please choose a game</h5><br>
		<a class="menu-btn" href="anagrams/">
		<button type="button" class="btn btn-lg btn-block">Anagrams</button></a>
		<a class="menu-btn" href="hangman/">
		<button type="button" class="btn btn-lg btn-block">Hangman</button></a>
		<a class="menu-btn" href="quickfire/">
		<button type="button" class="btn btn-lg btn-block">Quickfire</button></a>
	</div>

{% endblock content %}