{% extends "welsh/base.html" %}

{% block content %}
	<!-- Insert body code here-->
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h2>Croeso {{request.user}}!</h2><br>
		<h5>Please select a year</h5><br>
		<a class="menu-btn" href="{% url 'year_7' %}">
		<button type="button" class="btn btn-lg btn-block">Blwyddyn Saith / Year Seven</button></a>
		<a class="menu-btn" href="{% url 'year_8' %}">
		<button type="button" class="btn btn-lg btn-block">Blwyddyn Wyth / Year Eight</button></a>
		<a class="menu-btn" href="{% url 'year_9' %}">
		<button type="button" class="btn btn-lg btn-block">Blwyddyn Naw / Year Nine</button></a>
		<a class="menu-btn" href="{% url 'year_10' %}">
		<button type="button" class="btn btn-lg btn-block">Blwyddyn Deg / Year Ten</button></a>
		<a class="menu-btn" href="{% url 'year_11' %}">
		<button type="button" class="btn btn-lg btn-block">Blwyddyn Unarddeg / Year Eleven</button></a>
	</div>

{% endblock content %}
