{% extends "welsh/base.html" %}

{% block content %}
	<!-- Insert body code here-->
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<br><h5>Please choose a topic</h5><br>
		<a class="menu-btn" href="#">
		<button type="button" class="btn btn-lg btn-block">Gwaith / Work</button></a>
		<a class="menu-btn" href="#">
		<button type="button" class="btn btn-lg btn-block">Problemau Pobl Ifanc / Young People's Problems</button></a>
		<a class="menu-btn" href="#">
		<button type="button" class="btn btn-lg btn-block">Y Amgylchedd / The Environment</button></a>
		<a class="menu-btn" href="#">
		<button type="button" class="btn btn-lg btn-block">Cyfryngau / Media</button></a>
		<a class="menu-btn" href="#">
		<button type="button" class="btn btn-lg btn-block">Technoleg / Technology</button></a>
	</div>

{% endblock content %}